/* General container style for the entire page */
.full-page-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-family: 'Poppins', Arial, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color:lightgray;
}

/* Hero section styles */
.hero-container {
  display: flex;
  justify-content: flex-start; /* Adjust alignment */
  align-items: center;
  width: 100%;
  height: 100vh;
  color: black;
  position: relative;
  background-image: url('./samback.jpg'); /* Add your image path here */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent repeating the image */
}


.hero-content {
  max-width: 50%;
  text-align: center;
  padding: 20px;
  background: transparent;
  border-radius: 10px;
  margin-left: 8%; /* Move content to the right */
}

.hero-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.section-image2 {
  max-width: 90%; /* Increased the max-width */
  transition: transform 0.3s ease; /* Added transition for smooth scaling */
  height: 90vh;
  border-radius: 8px;
  align-self: flex-end; /* Align image to the bottom */
}
.hero-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.hero-container .get-started-button {
  padding: 12px 30px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-container .get-started-button:hover {
  background-color: darkgray;
  transform: translateY(-3px);
}
/* Footer styles */
.footer {
  background-color: #000;
  color: #fff;
  padding: 2rem 0;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-column {
  margin: 1rem;
}

.footer-column h3 {
  margin-bottom: 1rem;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 0.5rem;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #ddd; /* Lighter color on hover */
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  border-top: 1px solid #444;
}

.footer-bottom p {
  margin: 0;
}

.footer-icons {
  margin-top: 1rem;
}

.footer-icons a {
  margin-left: 1rem;
  color: #fff;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  color: #ddd; /* Lighter color on hover */
}