/* Event.css */

/* Container for the entire event page */
.event-page {
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  color: #000000; /* Black text color for better contrast */
  width: 80vw; /* Adjust width as needed */
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  padding-bottom: 30px; /* Reserve space for the fixed map */
  position: relative; /* Ensure the map can be positioned fixed */
  text-align: center; /* Center-align all text within this container */
}


.event-image {
  width: 54vh;
  height: 300px; /* Fixed height for a rectangular shape */
  object-fit: cover;
}
.event-summary img {
  max-width: 100%;
  height: auto;
}

/* Container for event details */
.event-details {
  padding: 15px;
}

.event-details h3 {
  font-size: 1.5em;
  margin-top: 0;
  color: #333;
  text-align: center;
}

.event-details p {
  margin: 10px 0;
  color: #555;
}

.event-details strong {
  color: #222;
}

/* Message when no events are joined */
.event-page p {
  text-align: center;
  color: #777;
  font-size: 1.2em;
}
