.payment-page {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .header {
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .payment-details {
    flex: 3;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .payment-form {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .payment-form h3 {
    margin-bottom: 20px;
  }
  
  .payment-form label {
    display: block;
    margin-bottom: 10px;
    color: #555;
  }
  
  .payment-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submit-button {
    background-color: #f0c14b;
    border: 1px solid #a88734;
    color: #111;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }
  
  .submit-button:hover {
    background-color: #ddb347;
  }
  
  .order-summary {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .order-summary h3 {
    margin-bottom: 20px;
  }
  
  .order-summary p {
    margin: 10px 0;
    color: #555;
  }
  